<!-- No CSS, basic elements -->
<!-- <header>
    <a href="/">HOME</a>
    <ul>
        <li><a href="#">Register</a></li>
        <li><a href="#">Log In</a></li>
    </ul>
</header> -->

<!-- Using Bulma CSS Framework -->

<nav class="navbar" role="navigation" aria-label="main navigation">
    <!-- left-hand side elem -->
    <div class="navbar-brand mb-6 p-5" >
        <a class="navbar-item" href="/">
            <img src="https://i.imgur.com/0vgmLsY.gif" alt="" width="28" height="40">
        </a>
        <!-- <img src="https://i.imgur.com/0vgmLsY.gif" alt=""> -->

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
    </div>




    <!-- right-hand side elem -->
    <div class="navbar-menu">
        <div class="navbar-start">
        </div>
        <div class="navbar-item">

            <div class="navbar-end">
                <div class="buttons">
                    <a class="button" href="#">Register</a>
                    <a class="button" href="#">Log In</a>
                </div>
            </div>
        </div>

    </div>
</nav>
