<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Index</title>
        <%- include ('./partials/head.ejs') %>
    </head>
    <%- include ('./partials/navbar.ejs') %>


    <body class="container has-background-white-ter">
        <a href="/new">Create Post</a>

        <%- include ('./partials/postsHome.ejs') %>

    </body>
</html>
