<!DOCTYPE html>
<html lang="en" dir="ltr" class="has-background-white-ter has-navbar-fixed-top">
    <head>
        <meta charset="utf-8">
        <title>New Thread</title>
        <%- include ('./partials/head.ejs') %>

    </head>
    <%- include ('./partials/navbar.ejs') %>

    <body class="container">
        <h1>New post:</h1>
        <form action="/" method="POST">
            Title: <input type="text" name="title" /><br/>
            Text: <input type="text" name="body" placeholder="min 100 characters"/><br/>

            <input type="submit" name="" value="Submit"/>
        </form>
    </body>
</html>
