<!DOCTYPE html>
<html lang="en" dir="ltr" class="has-background-white-ter has-navbar-fixed-top">
    <head>
        <meta charset="utf-8">
        <title>New Thread</title>
        <%- include ('./partials/head.ejs') %>

    </head>
    <%- include ('./partials/navbar.ejs') %>

    <body class="container">
        <p class="title">New post:</p>


        <form action="/" method="POST">
            <div class="field">
                <label class="label">Title:</label>
                <div class="control">
                    <input class="input is-large" type="text" name="title" placeholder="title"/>
                </div>
            </div>
            <div class="field">
                <label class="label">Text:</label>
                <div class="control">
                    <!-- <input class="input" type="text" name="body" placeholder="min 100 characters"/> -->
                    <textarea class="textarea" name="body" placeholder="min 100 characters"></textarea>
                </div>
            </div>
            <div class="field">
                <input type="submit" name="" value="Submit"/>
            </div>
        </form>
    </body>
</html>
